#navbar, #botonNavbar, #buttonHome, #formRegister, #formLogin, #formEnvio{
    background-color: rgb(29, 86, 63);
}

#botonNavbar{
color: white;
}

.textoScanner, .textoOscuro{
    color: rgb(29, 86, 63);
}

.formulario {
    display: block;
}

.formulario:hover {
    animation: zoom 1s ease-out;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}